
a {
    cursor: pointer;
}
.auth .auth-form-light {
    max-width: 420px;
    margin: auto;
}
.form-control {
    border: 1px solid #d7d7d7;
}
.navbar {
    box-shadow: 8px -2px 8px 2px #dfdfdf;
}
#header-s + .page-body-wrapper {
    padding-top: 70px;
}
.web-img-wrapper img {
    width: 100%;
}
.btn:disabled {
    cursor: not-allowed;
}
.form-check .form-check-label input {
    width: 100%;
    height: 100%;
}
.form-control:focus {
    border: 1px solid #e3abff;
}
.error {
    position: relative;
}
.error input {
    border: 1px solid #ffc10785 !important;
}
.error .err-box {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: orange;
    font-weight: 100;
    position: absolute;
    right: 1px;
    bottom: -16px;
} 
.err-box div {
    max-width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar .nav .user-info {
    padding-top: 18px;
    align-items: center;
}
.user-info .user-circle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 19px;
    color: #ffffff;
    background: #9c27b0;
}
.user-info .user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    margin-left: 10px;
    font-family: ubuntu-medium;
}
/*------------------------*/
.swal-confirm {
    max-width: 400px !important;
}
.swal-confirm .swal2-icon {
    width: 45px;
    height: 45px;
    margin: 20px 0px;
    margin-top: 15px;
}
.swal-confirm .swal2-icon-content {
    font-size: 35px !important;
}

/*--------------------------------------*/

@media only screen and (max-width: 600px) {
    .auth .auth-form-light {
        padding: 30px 25px !important;
    }
    .auth .brand-logo {
        margin-bottom: 0px;
    }
    .content-wrapper {
        padding: 20px;
    }
    .auth form .form-group .form-control {
        padding: 10px 15px;
    }
    .brand-logo + h6 {
        margin-top: 18px;
        font-size: 14px;
    }
}